@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HOVER EFFECT */
.material-symbols-outlined {
    padding: 10px;
}

.hover:hover {
    background:  #f1f3f4;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.tooltip {
    position: relative; /*Put the icon relative of the icon */
}

.tooltip-text {
    position: absolute;/*Put the text relative ot the icon */
    left: 0; /*Put the text ontop of the icon */
    top: 100%; /* The text will be relatively below the icon*/
    font-size: 0.78rem;
    background: #323232;
    color: white;
    opacity: 0.8; /* Make the text transparent */
    padding: 5px;
    white-space: nowrap; /* No text wrap when white-space is used */
    border-radius: 5px;
    visibility: hidden; /* No effect the text will remain hidden */
    z-index: 1
}

.tooltip:hover .tooltip-text {
    visibility: visible; /* Hover effect the text will be visible */
}
